<!-- Навигационная панель -->
<nav class="navbar navbar-expand-lg navbar-dark quantum-nav">
    <div class="container">
        <a class="navbar-brand glow-text" href="/">
            <i class="fas fa-atom quantum-logo-icon"></i> Quantum Razor
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarQuantum">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarQuantum">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'landing' %}#about">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'landing' %}#services">Услуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'landing' %}#masters">Мастера</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'landing' %}#booking">Запись</a>
                </li>
                
                {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'orders_list' %}">Список заказов</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'service_create' %}">Добавить услугу</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'admin:index' %}">Админка</a>
                </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>